.equipment-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;

  a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2em;
  }
}

.equipments-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;

  .equipment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;

    .data {
      width: 100%;
      text-align: center;
      font-weight: bolder;
    }
  }

  .equipment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;

    &:nth-child(odd) {
      background-color: var(--secondary-bg-color-1);
    }

    &:nth-child(even) {
      background-color: var(--secondary-bg-color-2);
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }

    .data {
      width: 100%;
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    .name {
      a {
        color: var(--accent-text-color);
        text-decoration: none;
        font-weight: bolder;
      }
    }

    .action {
      a {
        color: var(--accent-text-color);
        text-decoration: none;
        font-weight: bolder;
      }
    }
  }
}
