/* #region Index */
/* Equipment Container Header */
.equipment-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.equipment-container-header a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2em;
}

/* Equipments Container */
.equipments-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.equipments-container .equipment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
}

.equipments-container .equipment-header .data {
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

.equipments-container turbo-frame:nth-child(odd) .equipment-container {
  background-color: var(--secondary-bg-color-1);
}

.equipments-container turbo-frame:nth-child(even) .equipment-container {
  background-color: var(--secondary-bg-color-2);
}

.equipments-container turbo-frame:last-child .equipment-container {
  border-radius: 0 0 10px 10px;
}

/* Equipment Container */
.equipments-container .equipment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

/* Equipment Data */
.equipment-container .data {
  text-align: center;
}

.equipment-container .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.equipment-container .name a {
  color: var(--accent-text-color);
  text-decoration: none;
  font-weight: bolder;
}

.equipment-container .level {
  font-size: 14px;
  opacity: 0.8;
}

/* Equipment Adjustable Attributes */
.equipment-container .adjust-stat-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.equipment-container .adjust-stat-container .adjust-stat {
  display: none
}

.equipment-container:hover .adjust-stat-container .adjust-stat {
  display: block;
  color:  var(--primary-color);
  text-decoration: none;
  font-weight: bolder;
}

.equipment-container .adjust-stat-container .stat {
  min-width: 70px;
  text-align: center;
}

/* Equipment Stars */
.equipment-container .equipment-stars-container {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.equipment-container .normal {
  --equipment-star-color: var(--equipment-normal);
}

.equipment-container .advanced {
  --equipment-star-color: var(--equipment-advanced);
}

.equipment-container .rare {
  --equipment-star-color: var(--equipment-rare);
}

.equipment-container .epic {
  --equipment-star-color: var(--equipment-epic);
}

.equipment-container .legendary {
  --equipment-star-color: var(--equipment-legendary);
}

.equipment-container .mythic {
  --equipment-star-color: var(--equipment-mythic);
}

.equipment-container .equipment-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: var(--equipment-star-color);
  gap: 3px;
}

/* Sliders */
.sliders-2 {
  display: flex;
  overflow: hidden;
  width: 50px;
}

.sliders-2 .slider-2:first-child {
  display: flex;
  width: 100%;
  overflow: hidden;
  transition: 150ms;
  flex-shrink: 0;
  justify-content: center;
}

.sliders-2 .slider-2:last-child {
  display: flex;
  width: 0%;
  overflow: hidden;
  transition: 150ms;
  flex-shrink: 0;
  justify-content: center;
}

.sliders-2:hover .slider-2:first-child {
  width: 0;
}

.sliders-2:hover .slider-2:last-child {
  width: 100%;
}
/* #endregion */

/* #region Show */
.equipment-stats-container {
  padding: 30px;
  width: 100%;
  min-width: 328px;
  max-width: 512px;
  margin: 0 auto;
  background-color: var(--secondary-bg-color-1);
  border: 2px solid var(--secondary-bg-color-2);
  border-radius: 10px;
}

.equipment-stats-container .name {
  text-align: center;
}

.equipment-stats-container .stats {
  padding: 5px 0;
}

.equipment-stats-container .stat {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.equipment-stats-container .stat:last-child {
  border-bottom: 0px solid white;
}
/* #endregion */
