/* #region Index */
.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.hero-header a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2em;
}

/* Heroes Container */
.heroes-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.heroes-container .hero-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
}

.heroes-container .hero-container-header .data {
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

/* Hero Container */
.heroes-container .hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

.heroes-container > .hero-container:nth-child(odd) {
  --stripe-angle: var(--stripe-odd-angle);
}

.heroes-container > .hero-container:nth-child(even) {
  --stripe-angle: var(--stripe-even-angle);
}

.heroes-container > .hero-container:last-child {
  border-radius: 0 0 10px 10px;
}

.heroes-container turbo-frame:nth-child(odd) .hero-container {
  --stripe-angle: var(--stripe-odd-angle);
}

.heroes-container turbo-frame:nth-child(even) .hero-container {
  --stripe-angle: var(--stripe-even-angle);
}

.heroes-container turbo-frame:last-child .hero-container {
  border-radius: 0 0 10px 10px;
}

/* hero stripes */
.human {
  --stripe-color: var(--hero-human);
}
.horde {
  --stripe-color: var(--hero-horde);
}
.elf {
  --stripe-color: var(--hero-elf);
}
.undead {
  --stripe-color: var(--hero-undead);
}
.light {
  --stripe-color: var(--hero-light);
}
.dark {
  --stripe-color: var(--hero-dark);
}

.stripes {
  background: repeating-linear-gradient(
    var(--stripe-angle),
    var(--stripe-color),
    var(--stripe-color) 3px,
    var(--hero-transparent) 3px,
    var(--hero-transparent) 9px
  )
}

/* Hero Data */
.hero-container .data {
  width: 100%;
  text-align: center;
}

.hero-container .data:first-child {
  text-align: left;
}

.hero-container .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-container .name a {
  color: var(--accent-text-color);
  text-decoration: none;
  font-weight: bolder;
}

.hero-container .name span {
  font-size: 14px;
  opacity: 0.8;
}

/* Adjustable Attributes */
.hero-container .adjust-stat-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.hero-container .adjust-stat-container .adjust-stat {
  display: none
}

.hero-container:hover .adjust-stat-container .adjust-stat {
  display: block;
  color:  var(--primary-color);
  text-decoration: none;
  font-weight: bolder;
}

.hero-container .adjust-stat-container .stat {
  min-width: 70px;
  text-align: center;
}

/* Hero Stars */
.hero-container .silver {
  --hero-star-color: var(--hero-silver);
}

.hero-container .gold {
  --hero-star-color: var(--hero-gold);
}

.hero-container .ruby {
  --hero-star-color: var(--hero-ruby);
}

.hero-container .sapphire {
  --hero-star-color: var(--hero-sapphire);
}

.hero-container .hero-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: var(--hero-star-color);
}
/* #endregion */

/* #region Show */
.hero-stats-container {
  padding: 30px;
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--secondary-bg-color-1);
  border: 2px solid var(--secondary-bg-color-2);
  border-radius: 10px;
}

.hero-stats-container .name {
  text-align: center;
}

.hero-stats-container .stats {
  padding: 5px 0;
}

.hero-stats-container .stat {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.hero-stats-container .stat:last-child {
  border-bottom: 0px solid white;
}
/* #endregion */
